.popup__title {
  font-family: Inter;
  font-weight: 900;
  line-height: 1.21;
  font-size: 24px;
  color: #000;
  padding-top: 34px;
  margin-left: 36px;
  margin-bottom: 54px;
  margin-top: 0;
}

@media screen and (min-width: 320px) and (max-width: 879px) {
  .popup__title {
    font-size: 18px;
    margin-bottom: 76px;
    margin-left: 22px;
  }
}