.profile-info__about {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  margin: 16px 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 320px) and (max-width: 879px) {
  .profile-info__about {
    text-align: center;
    font-size: 14px;
    margin-top: 14px;
  }
}