.popup_opened {
  height: 100%;
  opacity: 1;
  transition: height 0s 0s, opacity 0.5s 0s;
  -webkit-transition: height 0s 0s, opacity 0.5s 0s;
  -moz-transition: height 0s 0s, opacity 0.5s 0s;
  -ms-transition: height 0s 0s, opacity 0.5s 0s;
  -o-transition: height 0s 0s, opacity 0.5s 0s;
}