.popup__close-img {
  width: 32px;
  height: 32px;
  top: -32px;
  right: -32px;
  position: absolute;
}

.popup__close-img:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 879px) {
  .popup__close-img {
    top: -50px;
    right: 5px;
    width: 26px;
    height: 26px;
  }
}