.element__title {
  font-family: Inter;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  margin: auto 0 auto 21px;
  width: 221px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}